<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="card-body">
                  <h3 class="card-title"><center>Registeration</center></h3>
                  <p class="card-description">
                    Registeration Form
                  </p>
                  <form class="forms-sample" action="{% url 'Admin_save' %}" method="post"  enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputUsername1">Name</label>
                      <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Name" name="name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputUsername1">Mobile No</label>
                      <input type="tel" class="form-control" id="exampleInputUsername1" placeholder="Mobile no" name="mobile">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputUsername1">Username</label>
                      <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username" name="name2">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="mail">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pass">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputConfirmPassword1">Confirm Password</label>
                      <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Confirm Password" name="cpass">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputConfirmPassword1">Upload File</label>
                      <input type="file" class="form-control" id="exampleInputConfirmPassword1" placeholder="Upload" name="img[]">
                    </div>
                    <div class="form-check form-check-flat form-check-primary">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                      <i class="input-helper"></i></label>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
</body>
</html>
{% endblock %}