<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="card-body">
        <h4 class="card-title"><center>Registeration Details</center></h4>
      <p class="card-description">
        Registeration Data
      </p>
        <div class="table-responsive pt-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>MOBILE</th>
                        <th>USERNAME</th>
                        <th>EMAIL</th>
                        <th>PASSWORD</th>
                        <th>CONFIRMPASSWORD</th>
                        <th>IMAGE</th>
                    </tr>
                </thead>
                {% for i in details %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.mobile }}</td>
                        <td>{{ i.username }}</td>
                        <td>{{ i.email }}</td>
                        <td>{{ i.password }}</td>
                        <td>{{ i.confirmpassword }}</td>
                        <td>
                            <img src="{{ i.image.url }}" width="50px",height="50px">
                        </td>
                        <td>
                            <form action="{% url 'editAdmindata' dataid=i.id %}">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                        </td>
                         <td>
                             <form action="{% url 'deleteAdminData' dataid=i.id %}">
                                <button type="submit" class="btn btn-primary">Delete</button>
                             </form>
                         </td>



                    </tr>
                {% endfor %}
            </table>
    </div>
</div>

</body>
</html>
{% endblock %}